In [3]:
#   !python -m pip install pandas

In [5]:
import pandas as pd

In [118]:
from random import randint, randrange

In [7]:
dados = [ [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
         [2, 4, 6, 8, 10, 12, 14, 16, 18, 20] ]

In [9]:
pd.DataFrame( dados )

   0  1  2  3   4   5   6   7   8   9
0  1  2  3  4   5   6   7   8   9  10
1  2  4  6  8  10  12  14  16  18  20

In [15]:
dados = { "valores" : [1, 2, 3], 
         "valores_dobro" : [2, 4, 6] }

In [21]:
df = pd.DataFrame( dados, index = ["Lab 001", "Lab 002", "Lab 003"]  )
df

         valores  valores_dobro
Lab 001        1              2
Lab 002        2              4
Lab 003        3              6

In [33]:
df.loc["Lab 001"]["valores_dobro"]

2

In [43]:
dados = { "valores" : [1, 2, 3], 
         "valores_dobro" : [2, 4, 6] }
df = pd.DataFrame.from_dict( dados, orient="index" )
df

               0  1  2
valores        1  2  3
valores_dobro  2  4  6

In [61]:
df = pd.read_csv("../../../dados/nlp/analise_sentimento_portugues.csv", 
                 encoding="utf-8", delimiter=",")
df

   sentimento                                          paragrafo
0    positivo  Hoje o dia está ensolarado e perfeito para um ...
1    negativo  Infelizmente, o ônibus atrasou e cheguei tarde...
2      neutro   O café na cozinha acabou e preciso comprar mais.
3    positivo  Recebi uma promoção no trabalho e estou muito ...
4    negativo   Perdi meu celular e estou me sentindo frustrado.
5      neutro  O jantar foi servido às sete da noite como de ...
6    positivo     Passei no exame final e agora posso me formar.
7    negativo  A chuva forte causou muitos transtornos no trâ...
8      neutro  A reunião foi agendada para a próxima quarta-f...
9    positivo  Ganhei um presente maravilhoso de aniversário ...
10   negativo  Briguei com um amigo e agora estou me sentindo...
11     neutro  Fui ao supermercado e comprei frutas e vegetai...
12   positivo  O show da minha banda favorita foi incrível e ...
13   negativo          Estou doente e preciso descansar em casa.
14     neutro  O correio entregou a correspondência hoje pela...
15   positivo  Recebi elogios do chefe pelo excelente trabalh...
16   negativo  O computador está lento e atrapalha meu trabalho.
17     neutro  A previsão do tempo para amanhã é de sol e céu...
18   positivo  A festa de casamento foi maravilhosa e todos s...
19   negativo        A reunião foi cansativa e durou o dia todo.
20     neutro  A entrega dos produtos ocorreu conforme o plan...
21   positivo           Ganhei na loteria e estou muito animado!
22   negativo  O carro quebrou no meio da estrada e foi um gr...
23     neutro  A biblioteca está aberta das nove às cinco tod...
24   positivo  Passei um tempo agradável com minha família no...
25   negativo  Perdi meu voo e agora preciso esperar pelo pró...
26     neutro  O relatório foi enviado para revisão ontem à t...
27   positivo  A performance no teatro foi incrível e cheia d...
28   negativo  Estou decepcionado com o resultado do jogo de ...
29     neutro     O ônibus passa a cada meia hora durante o dia.

In [68]:
df.head(3)

  sentimento                                          paragrafo
0   positivo  Hoje o dia está ensolarado e perfeito para um ...
1   negativo  Infelizmente, o ônibus atrasou e cheguei tarde...
2     neutro   O café na cozinha acabou e preciso comprar mais.

In [72]:
df.tail(2)

   sentimento                                          paragrafo
28   negativo  Estou decepcionado com o resultado do jogo de ...
29     neutro     O ônibus passa a cada meia hora durante o dia.

In [80]:
df.describe()

       sentimento                                          paragrafo
count          30                                                 30
unique          3                                                 30
top      positivo  Hoje o dia está ensolarado e perfeito para um ...
freq           10                                                  1

In [82]:
df.shape

(30, 2)

In [84]:
df2 = pd.read_csv("../../../dados/nlp/analise_sentimento_portugues.csv", 
                 encoding="utf-8", delimiter=",")

In [98]:
df = pd.concat([df, df2])

In [100]:
df.shape

(60, 2)

In [106]:
df = df.drop_duplicates()

In [108]:
df.shape

(30, 2)

In [110]:
df.describe()

       sentimento                                          paragrafo
count          30                                                 30
unique          3                                                 30
top      positivo  Hoje o dia está ensolarado e perfeito para um ...
freq           10                                                  1

In [116]:
df.shape

(30, 2)

In [136]:
serie1 = pd.Series( list(range(0, 30, 1)) )

In [138]:
serie1.shape

(30,)

In [142]:
df["indice"] = serie1

In [144]:
df

   sentimento                                          paragrafo  indice
0    positivo  Hoje o dia está ensolarado e perfeito para um ...       0
1    negativo  Infelizmente, o ônibus atrasou e cheguei tarde...       1
2      neutro   O café na cozinha acabou e preciso comprar mais.       2
3    positivo  Recebi uma promoção no trabalho e estou muito ...       3
4    negativo   Perdi meu celular e estou me sentindo frustrado.       4
5      neutro  O jantar foi servido às sete da noite como de ...       5
6    positivo     Passei no exame final e agora posso me formar.       6
7    negativo  A chuva forte causou muitos transtornos no trâ...       7
8      neutro  A reunião foi agendada para a próxima quarta-f...       8
9    positivo  Ganhei um presente maravilhoso de aniversário ...       9
10   negativo  Briguei com um amigo e agora estou me sentindo...      10
11     neutro  Fui ao supermercado e comprei frutas e vegetai...      11
12   positivo  O show da minha banda favorita foi incrível e ...      12
13   negativo          Estou doente e preciso descansar em casa.      13
14     neutro  O correio entregou a correspondência hoje pela...      14
15   positivo  Recebi elogios do chefe pelo excelente trabalh...      15
16   negativo  O computador está lento e atrapalha meu trabalho.      16
17     neutro  A previsão do tempo para amanhã é de sol e céu...      17
18   positivo  A festa de casamento foi maravilhosa e todos s...      18
19   negativo        A reunião foi cansativa e durou o dia todo.      19
20     neutro  A entrega dos produtos ocorreu conforme o plan...      20
21   positivo           Ganhei na loteria e estou muito animado!      21
22   negativo  O carro quebrou no meio da estrada e foi um gr...      22
23     neutro  A biblioteca está aberta das nove às cinco tod...      23
24   positivo  Passei um tempo agradável com minha família no...      24
25   negativo  Perdi meu voo e agora preciso esperar pelo pró...      25
26     neutro  O relatório foi enviado para revisão ontem à t...      26
27   positivo  A performance no teatro foi incrível e cheia d...      27
28   negativo  Estou decepcionado com o resultado do jogo de ...      28
29     neutro     O ônibus passa a cada meia hora durante o dia.      29

In [146]:
del df["indice"]

In [148]:
df

   sentimento                                          paragrafo
0    positivo  Hoje o dia está ensolarado e perfeito para um ...
1    negativo  Infelizmente, o ônibus atrasou e cheguei tarde...
2      neutro   O café na cozinha acabou e preciso comprar mais.
3    positivo  Recebi uma promoção no trabalho e estou muito ...
4    negativo   Perdi meu celular e estou me sentindo frustrado.
5      neutro  O jantar foi servido às sete da noite como de ...
6    positivo     Passei no exame final e agora posso me formar.
7    negativo  A chuva forte causou muitos transtornos no trâ...
8      neutro  A reunião foi agendada para a próxima quarta-f...
9    positivo  Ganhei um presente maravilhoso de aniversário ...
10   negativo  Briguei com um amigo e agora estou me sentindo...
11     neutro  Fui ao supermercado e comprei frutas e vegetai...
12   positivo  O show da minha banda favorita foi incrível e ...
13   negativo          Estou doente e preciso descansar em casa.
14     neutro  O correio entregou a correspondência hoje pela...
15   positivo  Recebi elogios do chefe pelo excelente trabalh...
16   negativo  O computador está lento e atrapalha meu trabalho.
17     neutro  A previsão do tempo para amanhã é de sol e céu...
18   positivo  A festa de casamento foi maravilhosa e todos s...
19   negativo        A reunião foi cansativa e durou o dia todo.
20     neutro  A entrega dos produtos ocorreu conforme o plan...
21   positivo           Ganhei na loteria e estou muito animado!
22   negativo  O carro quebrou no meio da estrada e foi um gr...
23     neutro  A biblioteca está aberta das nove às cinco tod...
24   positivo  Passei um tempo agradável com minha família no...
25   negativo  Perdi meu voo e agora preciso esperar pelo pró...
26     neutro  O relatório foi enviado para revisão ontem à t...
27   positivo  A performance no teatro foi incrível e cheia d...
28   negativo  Estou decepcionado com o resultado do jogo de ...
29     neutro     O ônibus passa a cada meia hora durante o dia.

In [156]:
df[10:20][["sentimento", "paragrafo"]]

   sentimento                                          paragrafo
10   negativo  Briguei com um amigo e agora estou me sentindo...
11     neutro  Fui ao supermercado e comprei frutas e vegetai...
12   positivo  O show da minha banda favorita foi incrível e ...
13   negativo          Estou doente e preciso descansar em casa.
14     neutro  O correio entregou a correspondência hoje pela...
15   positivo  Recebi elogios do chefe pelo excelente trabalh...
16   negativo  O computador está lento e atrapalha meu trabalho.
17     neutro  A previsão do tempo para amanhã é de sol e céu...
18   positivo  A festa de casamento foi maravilhosa e todos s...
19   negativo        A reunião foi cansativa e durou o dia todo.

In [162]:
df = pd.read_csv("..\\..\\..\\dados\\nlp\\news_sentiment_analysis.csv", encoding="utf-8")

In [164]:
df.shape

(3500, 8)

In [166]:
df.head()

,Source,Author,Title,Description,URL,Published At,Sentiment,Type
0,stgnews,Bridger Palmer,Pine View High teacher wins Best in State awar...,"ST. GEORGE — Kaitlyn Larson, a first-year teac...",https://www.stgeorgeutah.com/news/archive/2024...,2024-07-12T23:45:25+00:00,positive,Business
1,Zimbabwe Mail,Staff Reporter,Businesses Face Financial Strain Amid Liquidit...,"Harare, Zimbabwe – Local businesses are grappl...",https://www.thezimbabwemail.com/business/busin...,2024-07-12T22:59:42+00:00,neutral,Business
2,4-traders,NaN,Musk donates to super pac working to elect Tru...,(marketscreener.com) Billionaire Elon Musk has...,https://www.marketscreener.com/business-leader...,2024-07-12T22:52:55+00:00,positive,Business
3,4-traders,NaN,US FTC issues warning to franchisors over unfa...,(marketscreener.com) A U.S. trade regulator on...,https://www.marketscreener.com/quote/stock/MCD...,2024-07-12T22:41:01+00:00,negative,Business
4,PLANET,NaN,Rooftop solar's dark side,4.5 million households in the U.S. have solar ...,https://www.npr.org/2024/07/12/1197961036/roof...,2024-07-12T22:28:19+00:00,positive,Business

In [168]:
df.describe()

,Source,Author,Title,Description,URL,Published At,Sentiment,Type
count,3500,2512,3500,3500,3500,3500,3500,3500
unique,503,816,2336,2377,2669,2196,3,7
top,4-traders,MarketBeat News,‘We’ve created medical refugees.’ LGBTQ+ healt...,Yearly surveys of first-year medical students ...,https://phys.org/news/2024-07-power-nanopores-...,2024-07-18T18:59:06+00:00,positive,Business
freq,311,272,42,42,6,42,2134,500

In [196]:
df[["Type"]]

<bound method NDFrame.describe of             Type
0       Business
1       Business
2       Business
3       Business
4       Business
...          ...
3495  Technology
3496  Technology
3497  Technology
3498  Technology
3499  Technology

[3500 rows x 1 columns]>